.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
}